
body, html {
    height: 100%;
  }
  
  h1{    
    text-align: center;
    font-family:'Oleo Script', cursive;
    font-weight: bold;
    font-size: 5rem;
    margin: 3% auto;
  }  

  h5{
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 3% auto;
  }

  .bg {
    background-image:linear-gradient(rgba(40,47,46,0.6),rgba(40,47,46,0.6)),url("../images/dummycalci.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } 

  .home-btn{   
    padding: 5% 0 0 5% ; 
  }
  
  .content{
    text-align: center;  
    padding: auto 15%; 
    color: white;
  }

  .random-btn{
    margin: 3% auto;
    width: 30rem;
    font-family:'Oleo Script', cursive;
    font-size: 1.5rem;
    font-weight: 400;
  }